<!doctype html>
<html>
    <head>
        <title>
            {% if title %}
                    {{ title }}
            {% else %}
                    {% block title %}Phlask Powered{% endblock %}
            {% endif %}
        </title>
        <meta charset="utf-8" />
        {% block meta %}{% endblock %}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        {% block extra_head_css %}{% endblock extra_head_css %}
        {% block extra_head_js %}{% endblock extra_head_js %}
    </head>
    <body{% if body_class %} class="{{ body_class }}"{% endif %}{% if body_style %} style="{{ body_style }}"{% endif %}>
        {% block header %}{% endblock header %}
        <div class="container{% if wide %}-fluid{% endif %}">
            {% block left_sidebar %}{% endblock left_sidebar %}
            {% block body %}{% endblock body %}
            {% block content %}{% endblock content %}
            {% block right_sidebar %}{% endblock right_sidebar %}
            <div class="footer">
                {% block footer %}{% endblock footer %}
            </div>
        </div>
        {% block footer_js %}
            <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
            <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock footer_js %}
    </body>
</html>
